@import url(./fonts.css);

@import url(./partials/variables.css);

@import url(./partials/global.css);

/*-----------------------------Start Nav----------------------------------------*/
.header_area .mainmenu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .mainmenu .navbar{
    padding: 1rem 20rem;
}

.header_area .mainmenu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
     text-transform: uppercase;
    padding: 1.7rem;
    color:var(--titlecolor);
}

.header_area .mainmenu .navbar-nav .active a{
    background:var(--gradientcolor);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.header_area .mainmenu .navbar-nav a:hover{
    background:var(--gradientcolor);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}


/*-----------------------------end Nav----------------------------------------*/
/*****************Bannerarea***********************/
.sitemain .bannerarea .sitetitle h3{
    padding-top: 35%;
    font-weight: 500;


}

.sitemain .bannerarea .sitetitle h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    display: inline-block;
    background: black;
    margin-left: 5%;
    transform: translateY(-10px);


}

.sitemain .bannerarea .sitetitle h1{
   font-size: 3rem;


}
.sitemain .bannerarea .sitetitle h4{
    font-size: 1.5rem;
 
 }

 .sitemain .bannerarea .bannerimage>img{
    padding: 7rem 0;
    width: 90rem;

 }



/*****************Bannerarea***********************/

/*-----------------------About Area------------------*/

.sitemain .aboutarea{
    padding: 8rem 5rem;
}

.sitemain .aboutarea .abouttitle h2>span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 15px;
}
.sitemain .aboutarea .abouttitle h2{
    display: block;
    font: normal bold 30px/60px var(--roboto);
    letter-spacing: 15px;
}

.sitemain .aboutarea .abouttitle .paragraph>p{
    padding: 4rem 0;
}
/*-----------------------About Area------------------*/


/*----------------------------------------------------*/
.sitemain .skills-me{
    padding: 7rem 2rem;
}

.sitemain .skills-me .skillstitle{
    padding: 0.14rem;
}
.sitemain .skills-me .skillstitle h1{
    font-size: 35px;
}
.sitemain >.skills-me .skills{
    background: rgba(233, 233, 233);
    padding: 2rem 0;
    width: 16rem;
    transition: box-shadow .7s ease;
}
.sitemain >.skills-me .skills:hover{
    box-shadow: 5px 10px #888888;;
}
/*----------------------------------------------------*/
/*----------------------------------------------------*/
.sitemain .proskills-me{
    padding: 7rem 2rem;
}

.sitemain .proskills-me .skillstitle{
    padding: 0.14rem;
}
.sitemain .proskills-me .skillstitle h1{
    font-size: 35px;
}
.sitemain >.proskills-me .skills{
    background: rgba(233, 233, 233);
    padding: 2rem 0;
    width: 30rem;
    transition: box-shadow .7s ease;
}
.sitemain >.proskills-me .skills:hover{
    box-shadow: 5px 10px #888888;;
}
/*----------------------------------------------------*/


/* About Me */ 

.sitemain .aboutarea .abouttitle p{
    padding: 1rem 7rem;
}

.sitemain .aboutarea .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.sitemain .aboutarea .client .client-img{
    padding: 2rem;
}

.sitemain .aboutarea .client .about-client{
    padding-top: 2rem;
}

.sitemain .aboutarea .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

.sitemain .aboutarea .client .aboutclient p{
    font-size: 14px;
}

.sitemain .aboutarea .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
    
}

.sitemain .aboutarea .owl-carousel .owl-dots .owl-dot.active span{
    background:var(--gradientcolor);
    width: 12px;
    height: 12px;
}



/* End About Me */ 


/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}
footer.footer-area .social .icon{
color:black;

}
.title-h1{
    font: normal 500 41px/ 20px var(--roboto);
}
.cardbody{
    height: 250px;
}
